<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div> -->

<div>
  <app-icon-text-button
    [icon]="'fab fa-facebook-square'"
    [label]="'Login com Facebook'"
    [color]="'fb-blue'"
    (onClick)="data.facebook()"
  ></app-icon-text-button>
</div>