<div class="pflex-row pflex-center pflex-cross-center banner">
  <app-search-bar
    [spaceFilter]="spaceFilter"
    (onSearch)="searchSpaces($event)"
    (onAddressChange)="addressChange($event)"
  ></app-search-bar>
</div>

<div class="pflex-row" *ngIf="spaces">
  <div class="pflex-column pflex-65p">
    <div class="pflex-row pl pt+">
      <h3>{{spaces.length}} {{ 'pools' | translate}}</h3>
    </div>
    <app-list class="pflex-row" [items]="spaces" [mode]="'mosaic'">
      <ng-template let-space="item">
        <app-space-card [space]="space"></app-space-card>
      </ng-template>
    </app-list>
  </div>
  <div class="pflex-column pflex-35p">
    <app-map
      [center]="mapCenter"
      [spaces]="spaces"
    ></app-map>
  </div>
</div>