@import "./../../../../../colors.scss";
.raised-button {
    width: 100%;
}

.fb-blue {
    background-color: $blue-fb;
    color: $light-color;
}

.color-primary {
    background-color: $color-primary;
    color: $light-color;
}
