<div class="search-bar pflex-cross-center p+">
  <div class="pb">
    <h1>Find homes in United States on Airbnb</h1>
    <div>Discover entire homes and private rooms perfect for any trip.</div>
  </div>
  <div class="pflex-row">
    <div class="pflex-column pflex-100p">
      <mat-form-field class="example-full-width">
        <input 
          matInput 
          [value]="spaceFilter.searchText"
          ngx-google-places-autocomplete
          placeholder="Localização"
          [options]='options' 
          #placesRef="ngx-places" 
          (onAddressChange)="addressChange($event)"
        >
      </mat-form-field>
    </div>
  </div>
  <div class="pflex-row">
    <div class="pflex-column pflex-1 pl">
      <app-select
        [options]="radiusOptions"
        [(model)]="spaceFilter.radius"
        [placeholder]="'Raio (Km)'" 
      ></app-select>
    </div>

    <div class="pflex-column pflex-1 pl">
      <app-numerical-input
        [(model)]="spaceFilter.guestCount"
      ></app-numerical-input>
    </div>
  </div>
  <div class="pflex-row pt+ pflex-center">
    <app-icon-text-button
      [icon]="'fas fa-search'"
      [label]="'Procurar'"
      [color]="'color-primary'"
      (onClick)="search()"
    ></app-icon-text-button>
  </div>
</div>