<div class="p+">
  <div class="pflex-row full-width pflex-center">
      <div *ngIf="random<0.5" class="card-image" style="background-image: url('./../../../../../assets/images/piscina2.jpg')"></div>
      <div *ngIf="random>=0.5" class="card-image" style="background-image: url('./../../../../../assets/images/pool.jpeg')"></div>
  </div>
  <div class="pflex-row">
    <div class="pflex-column pflex-1">
      <h6 class="card-title-secondary" *ngIf="space.type && space.traderType">
        {{ space.type.name | translate }} | {{ space.traderType.name | translate }}
      </h6>
      <h5 class="card-title-primary">{{ space.title }}</h5>
    </div>
    <div class="pflex-column pflex-10p pflex-center pflex-cross-center">
      <app-colored-number-box [value]="space.rating"></app-colored-number-box>
    </div>
  </div>
</div>