$color-primary: #05a7ff;
$color-tertiary: #484848;
$color-tertiary-light: #767676;
$color-quaternary: #ececec;
$light-color: #ffffff;
$blue-fb: #4568b2;
$blue-twitter: #00aced;
$blue-linkedin: #0077b5;
