/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './pflex/pflex.scss';
@import './colors.scss';

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
    color: $color-tertiary;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 6px;
}

h3 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 6px;
    margin-bottom: 6px;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 4px;
}

h5 {
    font-size: 16px;
    font-weight: 800;
    margin-top: 2px;
    margin-bottom: 2px;
}

h6 {
    font-size: 12px;
    font-weight: 800;
    margin: 0px;
}

.full-width {
    width: 100%;
}

.limited-with-section {
    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
}

.clickable {
    cursor: pointer;
}

.top-horizontal-separator{
    border-top: 1px solid $color-quaternary;
}